/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
:root {
  /* Colors */
  --color-background: #282c34;
  --color-primary: #2bbac5;
  --color-secondary: #ef596f;
}

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  @apply text-center p-4 mx-auto;
}

h1 {
  @apply text-3xl leading-tight my-16 mx-auto max-w-xs;
}

p {
  @apply max-w-xs my-8 mx-auto leading-snug;
}

@screen sm {
  h1 {
    @apply max-w-xl text-center;
  }

  h2 {
    @apply text-2xl text-center;
  }

  p {
    @apply max-w-xl text-lg leading-normal;
  }
}

.transition-default {
  @apply transition duration-300 ease-in-out;
}

.border-bottom {
  @apply border-b-2 border-transparent hover:border-primary transition duration-300 ease-in-out;
}

svg {
  @apply h-5 w-5 fill-current hover:text-primary transition duration-300 ease-linear;
}

.dark body {
  background-color: #282c34;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}
