:root {
  // OneDark Vivid
  --background: #282c34;
  --purple: #d55fde;
  --error: #f44747;
  --coral: #ef596f;
  --whiskey: #d19a66;
  --chalky: #e5c07b;
  --lightDark: #7f848e;
  --dark: #5c6370;
  --malibu: #61afef;
  --green: #89ca78;
  --fountainBlue: #2bbac5;
  --invalid: #ffffff;

  // Apply colors
  --color-background: var(--background);
  --color-font: var(--color-white);
  --color-selection: var(--color-primary-lighter);

  --color-primary-dark: var(--fountainBlue);
  --color-primary: var(--fountainBlue);
  --color-primary-lighter: var(--fountainBlue);
}
