---
import SocialIcons from './SocialIcons.astro'

const today = new Date()
---

<footer>
  <SocialIcons />
  <a href="#header">Back top</a>
  <span>
    &copy; {today.getFullYear()} RMS. All rights reserved.
  </span>
</footer>

<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
