---
import SocialIcons from './SocialIcons.astro';

const today = new Date()
---

<footer class="w-full flex justify-between p-6 text-center">
  <SocialIcons />
  <a href="#header">Back top</a>
  <span>
    &copy; {today.getFullYear()} RMS. All rights reserved.
  </span>
</footer>
