---
import { SITE_TITLE } from '../consts'
import social from '../data/social.json'
import HeaderLink from './HeaderLink.astro'
import RssIcon from './icons/RssIcon.astro'
import ThemeIcon from './ThemeIcon.astro'
---

<header id="header" class="pt-0 px-0 pb-1">
  <h2 class="my-1 mx-0">
    {SITE_TITLE}
  </h2>
  <!-- TODO: add hamburguer menu -->
  <nav class="p-1 flex justify-between items-center p-2">
    <span>
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/book-notes">Book Notes</HeaderLink>
      <HeaderLink href="/tags/">Tags</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/now">Now</HeaderLink>
      <HeaderLink href={social.github.url} target="_blank">GitHub</HeaderLink>
    </span>
    <span class="flex space-between">
      <!-- <Hamburger /> -->
      <ThemeIcon />
      <HeaderLink href="/rss.xml" target="_blank">
        <RssIcon />
      </HeaderLink>
    </span>
  </nav>
</header>
