---
import { SITE_TITLE } from '../consts';
import social from '../data/social.json';
import HeaderLink from './HeaderLink.astro';
---

<header>
  <h2>
    {SITE_TITLE}
  </h2>
  <!-- TODO: add hamburguer menu -->
  <nav>
    <HeaderLink href='/'>Home</HeaderLink>
    <HeaderLink href='/blog'>Blog</HeaderLink>
    <HeaderLink href='/projects'>Projects</HeaderLink>
    <HeaderLink href='/now'>Now</HeaderLink>
    <HeaderLink href={social.github.url} target='_blank'>GitHub</HeaderLink>
    <HeaderLink href='/rss.xml' target='_blank'>
      <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'
        ><path
          fill='none'
          stroke='currentColor'
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='1.5'
          d='M12.75 19.5v-.75a7.5 7.5 0 0 0-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Z'
        ></path></svg
      >
    </HeaderLink>
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
