---
import { SITE_TITLE } from '../consts'
import social from '../data/social.json'
import HeaderLink from './HeaderLink.astro'
import RssIcon from './icons/RssIcon.astro'
import ThemeIcon from './ThemeIcon.astro'
---

<header id="header">
  <h2>
    {SITE_TITLE}
  </h2>
  <!-- TODO: add hamburguer menu -->
  <nav>
    <span>
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/book-notes">Book Notes</HeaderLink>
      <HeaderLink href="/tags/">Tags</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/now">Now</HeaderLink>
      <HeaderLink href={social.github.url} target="_blank">GitHub</HeaderLink>
    </span>
    <span>
      <!-- <Hamburger /> -->
      <ThemeIcon />
      <HeaderLink href="/rss.xml" target="_blank">
        <RssIcon />
      </HeaderLink>
    </span>
  </nav>
</header>

<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
