---
export interface Props {
	href: string;
	className?: string;
	ariaLabel?: string;
	title?: string;
	disabled?: boolean;
	openInNewTab?: boolean;
}

const { href, className, ariaLabel, title, disabled = false, openInNewTab = false } = Astro.props;

const extraProps = openInNewTab
	? {
			target: "_blank",
			rel: "noopener noreferrer",
	  }
	: {};
---

<a
  href={disabled ? '#' : href}
  tabindex={disabled ? '-1' : '0'}
  class={`group inline-block ${className}`}
  aria-label={ariaLabel}
  title={title}
  aria-disabled={disabled}
  {...extraProps}
>
  <slot />
</a>

<style>
  a {
    @apply hover:text-skin-accent;
  }
</style>
