---
import social from '../data/social.json'
import EmailIcon from './icons/EmailIcon.astro'
import GitHubIcon from './icons/GitHubIcon.astro'
import LinkedInIcon from './icons/LinkedInIcon.astro'
import RssIcon from './icons/RssIcon.astro'
import SocialIcon from './SocialIcon.astro'
---

<div class="flex row justify-between p-6 text-center">
  <SocialIcon href={social.github.url} title={social.github.name}>
    <GitHubIcon />
  </SocialIcon>

  <SocialIcon href={social.linkedin.url} title={social.linkedin.name}>
    <LinkedInIcon />
  </SocialIcon>

  <SocialIcon href={'#contact'} title="Email">
    <EmailIcon />
  </SocialIcon>

  <SocialIcon href="/rss.xml" title="RSS">
    <RssIcon />
  </SocialIcon>
</div>
