---
import ApolloIcon from './icons/ApolloIcon.astro'
import DjangoIcon from './icons/DjangoIcon.astro'
import DockerIcon from './icons/DockerIcon.astro'
import ElixirIcon from './icons/ElixirIcon.astro'
import GitHubActionsIcon from './icons/GitHubActionsIcon.astro'
import GraphQLIcon from './icons/GraphQLIcon.astro'
import NextjsIcon from './icons/NextjsIcon.astro'
import NodeIcon from './icons/NodeIcon.astro'
import PostgresIcon from './icons/PostgresIcon.astro'
import PythonIcon from './icons/PythonIcon.astro'
import ReactIcon from './icons/ReactIcon.astro'
import TailwindIcon from './icons/TailwindIcon.astro'
import JavaScriptIcon from './JavaScriptIcon.astro'
import TypeScriptIcon from './TypeScriptIcon.astro'
---

<!-- Tech -->
<div class='tech'>
  <h2>Favorite Technologies</h2>
  <div class='tech-icons'>
    <JavaScriptIcon />
    <TypeScriptIcon />
    <ReactIcon />
    <ElixirIcon />
    <NodeIcon />
    <PythonIcon />
    <GraphQLIcon />
    <NextjsIcon />
    <ApolloIcon />
    <PostgresIcon />
    <DjangoIcon />
    <DockerIcon />
    <TailwindIcon />
    <GitHubActionsIcon />
  </div>
</div>
