---
---

<!-- Tech -->
<div class='tech'>
  <h2>Favorite Technologies</h2>
  <div class='tech-icons'>
    <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 256 256'
      ><g fill='none'
        ><rect width='256' height='256' fill='#F0DB4F' rx='60'></rect><path
          fill='#323330'
          d='m67.312 213.932l19.59-11.856c3.78 6.701 7.218 12.371 15.465 12.371c7.905 0 12.889-3.092 12.889-15.12v-81.798h24.058v82.138c0 24.917-14.606 36.259-35.916 36.259c-19.245 0-30.416-9.967-36.087-21.996m85.07-2.576l19.588-11.341c5.157 8.421 11.859 14.607 23.715 14.607c9.969 0 16.325-4.984 16.325-11.858c0-8.248-6.53-11.17-17.528-15.98l-6.013-2.579c-17.357-7.388-28.871-16.668-28.871-36.258c0-18.044 13.748-31.792 35.229-31.792c15.294 0 26.292 5.328 34.196 19.247l-18.731 12.029c-4.125-7.389-8.591-10.31-15.465-10.31c-7.046 0-11.514 4.468-11.514 10.31c0 7.217 4.468 10.139 14.778 14.608l6.014 2.577c20.449 8.765 31.963 17.699 31.963 37.804c0 21.654-17.012 33.51-39.867 33.51c-22.339 0-36.774-10.654-43.819-24.574'
        ></path></g
      ></svg
    >

    <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 256 256'
      ><g fill='none'
        ><rect width='256' height='256' fill='#007ACC' rx='60'></rect><path
          fill='#fff'
          d='m56.611 128.849l-.081 10.484h33.32v94.679h23.57v-94.679h33.32v-10.281c0-5.689-.121-10.443-.284-10.565c-.122-.162-20.399-.244-44.983-.203l-44.739.122l-.122 10.443Zm149.956-10.741c6.501 1.626 11.459 4.511 16.01 9.224c2.357 2.52 5.851 7.112 6.136 8.209c.081.325-11.053 7.802-17.798 11.987c-.244.163-1.22-.894-2.317-2.519c-3.291-4.795-6.745-6.868-12.028-7.233c-7.761-.529-12.759 3.535-12.718 10.321c0 1.991.284 3.169 1.097 4.795c1.706 3.535 4.876 5.648 14.832 9.955c18.326 7.884 26.168 13.085 31.045 20.48c5.445 8.249 6.664 21.415 2.966 31.208c-4.063 10.646-14.141 17.879-28.323 20.277c-4.388.772-14.791.65-19.504-.203c-10.281-1.829-20.033-6.908-26.047-13.572c-2.357-2.601-6.949-9.387-6.664-9.875c.121-.162 1.178-.812 2.356-1.503c1.138-.65 5.446-3.129 9.509-5.486l7.355-4.267l1.544 2.276c2.154 3.291 6.867 7.802 9.712 9.305c8.167 4.308 19.383 3.698 24.909-1.259c2.357-2.154 3.332-4.389 3.332-7.68c0-2.967-.366-4.267-1.91-6.502c-1.991-2.844-6.054-5.242-17.595-10.24c-13.206-5.689-18.895-9.224-24.096-14.832c-3.007-3.25-5.852-8.452-7.03-12.8c-.975-3.616-1.219-12.678-.447-16.335c2.722-12.759 12.353-21.658 26.25-24.3c4.511-.853 14.994-.528 19.424.569Z'
        ></path></g
      ></svg
    >

    <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 256 256'
      ><g fill='none'
        ><rect width='256' height='256' fill='#F4F2ED' rx='60'></rect><path
          fill='#81CD39'
          d='M119.878 31.116c4.919-2.815 11.325-2.828 16.239 0c24.722 13.97 49.452 27.917 74.17 41.895c4.65 2.619 7.759 7.793 7.712 13.15v84.045c.035 5.579-3.382 10.877-8.287 13.436c-24.641 13.893-49.27 27.802-73.907 41.695c-5.019 2.87-11.554 2.649-16.418-.457c-7.387-4.282-14.787-8.544-22.175-12.822c-1.51-.9-3.212-1.616-4.278-3.08c.943-1.27 2.628-1.428 3.997-1.983c3.083-.981 5.916-2.555 8.748-4.082c.717-.49 1.591-.302 2.278.136c6.317 3.622 12.579 7.35 18.917 10.937c1.352.781 2.721-.256 3.877-.9c24.18-13.667 48.39-27.281 72.567-40.952c.896-.431 1.391-1.382 1.318-2.363c.017-27.725.004-55.454.009-83.18c.102-1.112-.542-2.136-1.549-2.592c-24.555-13.829-49.099-27.678-73.65-41.51a2.557 2.557 0 0 0-2.892-.005c-24.552 13.837-49.09 27.7-73.642 41.527c-1.003.457-1.676 1.464-1.557 2.58c.005 27.726 0 55.455 0 83.184a2.352 2.352 0 0 0 1.336 2.334c6.551 3.715 13.111 7.404 19.667 11.107c3.694 1.987 8.228 3.169 12.297 1.646c3.591-1.288 6.108-4.953 6.04-8.765c.034-27.563-.017-55.13.025-82.69c-.09-1.223 1.071-2.234 2.261-2.118c3.148-.022 6.3-.043 9.448.008c1.314-.03 2.218 1.288 2.056 2.52c-.013 27.738.034 55.476-.021 83.213c.008 7.393-3.029 15.437-9.867 19.054c-8.423 4.363-18.835 3.438-27.157-.746c-7.204-3.596-14.08-7.84-21.156-11.692c-4.918-2.545-8.318-7.864-8.283-13.439V86.161c-.052-5.468 3.181-10.736 7.975-13.317c24.637-13.903 49.27-27.818 73.902-41.728Z'
        ></path><path
          fill='#81CD39'
          d='M141.372 89.335c10.745-.692 22.248-.41 31.917 4.884c7.487 4.056 11.637 12.57 11.769 20.887c-.209 1.121-1.382 1.74-2.453 1.663c-3.117-.004-6.236.043-9.353-.021c-1.323.051-2.091-1.168-2.257-2.337c-.896-3.98-3.067-7.921-6.812-9.841c-5.75-2.878-12.416-2.733-18.687-2.673c-4.576.242-9.498.639-13.376 3.33c-2.977 2.039-3.881 6.155-2.819 9.47c1.002 2.38 3.749 3.148 5.997 3.856c12.95 3.387 26.672 3.049 39.373 7.506c5.26 1.817 10.404 5.35 12.204 10.856c2.355 7.38 1.323 16.2-3.928 22.124c-4.258 4.875-10.459 7.529-16.644 8.97c-8.228 1.835-16.767 1.882-25.123 1.067c-7.857-.896-16.034-2.96-22.099-8.313c-5.187-4.504-7.72-11.522-7.469-18.294c.06-1.144 1.199-1.942 2.295-1.848c3.139-.025 6.279-.034 9.418.005c1.254-.09 2.184.994 2.248 2.176c.579 3.791 2.004 7.771 5.31 10.018c6.381 4.117 14.388 3.835 21.694 3.95c6.052-.268 12.847-.349 17.787-4.35c2.606-2.282 3.378-6.1 2.674-9.384c-.763-2.773-3.664-4.065-6.155-4.91c-12.783-4.043-26.659-2.576-39.318-7.149c-5.14-1.816-10.11-5.25-12.084-10.53c-2.755-7.473-1.493-16.717 4.308-22.44c5.656-5.695 13.82-7.888 21.583-8.672'
        ></path></g
      ></svg
    >

    <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 256 256'
      ><g fill='none'
        ><rect width='256' height='256' fill='#F4F2ED' rx='60'></rect><path
          fill='#E535AB'
          d='m47.862 176.192l7.342 4.239l81.793-141.665l-7.342-4.239l-81.793 141.665Z'></path><path
          fill='#E535AB'
          d='M209.766 164.875H46.181v8.478h163.585v-8.478Z'></path><path
          fill='#E535AB'
          d='m49.418 169.637l81.823 47.242l4.239-7.342l-81.823-47.242l-4.24 7.342Zm71.08-123.125l81.823 47.242l4.239-7.342l-81.823-47.242l-4.239 7.342Z'
        ></path><path fill='#E535AB' d='m49.44 86.38l4.24 7.342l81.823-47.242l-4.239-7.342L49.44 86.38Z'></path><path
          fill='#E535AB'
          d='m119.019 38.767l81.793 141.665l7.342-4.239l-81.793-141.665l-7.342 4.24ZM61.145 80.758h-8.478v94.484h8.478V80.758Z'
        ></path><path fill='#E535AB' d='M203.331 80.758h-8.478v94.484h8.478V80.758Z'></path><path
          fill='#E535AB'
          d='m126.095 206.877l3.703 6.414l71.164-41.088l-3.703-6.413l-71.164 41.087Z'></path><path
          fill='#E535AB'
          d='M214.567 178c-4.903 8.529-15.833 11.44-24.362 6.537c-8.529-4.903-11.44-15.832-6.537-24.361c4.903-8.53 15.833-11.441 24.362-6.538c8.58 4.954 11.491 15.833 6.537 24.362ZM72.279 95.824c-4.903 8.529-15.833 11.441-24.362 6.538C39.388 97.459 36.477 86.529 41.38 78c4.903-8.53 15.832-11.44 24.362-6.537c8.529 4.954 11.44 15.832 6.537 24.361ZM41.431 178c-4.903-8.529-1.992-19.408 6.537-24.362c8.53-4.903 19.408-1.992 24.362 6.538c4.903 8.529 1.992 19.407-6.537 24.361c-8.58 4.903-19.459 1.992-24.362-6.537Zm142.288-82.176c-4.903-8.529-1.992-19.407 6.537-24.361c8.529-4.903 19.408-1.992 24.362 6.537c4.903 8.53 1.992 19.408-6.538 24.362c-8.529 4.903-19.458 1.991-24.361-6.538ZM127.999 228c-9.857 0-17.824-7.967-17.824-17.824c0-9.857 7.967-17.825 17.824-17.825c9.857 0 17.824 7.968 17.824 17.825c0 9.806-7.967 17.824-17.824 17.824Zm0-164.351c-9.857 0-17.824-7.968-17.824-17.825S118.142 28 127.999 28c9.857 0 17.824 7.967 17.824 17.824c0 9.857-7.967 17.825-17.824 17.825Z'
        ></path></g
      ></svg
    >

    <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 256 256'
      ><g fill='none'
        ><rect width='256' height='256' fill='#F4F2ED' rx='60'></rect><path
          fill='url(#skillIconsElixirLight0)'
          fill-rule='evenodd'
          d='M133.418 28.503c-14.531 5.15-28.557 20.184-42.08 45.099c-20.284 37.372-46.482 90.479-10.407 132.527c16.689 19.452 44.245 30.933 80.409 12.75c29.051-14.607 37.131-56.526 26.701-76.225c-21.515-40.634-43.343-50.656-49.188-75.856c-3.897-16.8-5.708-29.565-5.435-38.295Z'
          clip-rule='evenodd'></path><path
          fill='url(#skillIconsElixirLight1)'
          fill-rule='evenodd'
          d='M133.418 28c-14.605 5.203-28.631 20.236-42.08 45.098c-20.174 37.293-46.483 90.48-10.408 132.527c16.69 19.453 43.891 25.739 58.985 14.202c9.84-7.521 16.532-14.69 20.388-29.796c4.293-16.82.999-39.464-1.258-49.867c-2.856-13.163-3.791-27.611-2.805-43.343l-.779-.95c-7.858-9.617-13.921-17.993-16.608-29.576c-3.897-16.8-5.709-29.565-5.435-38.295Z'
          clip-rule='evenodd'></path><path
          fill='url(#skillIconsElixirLight2)'
          fill-rule='evenodd'
          d='M121.325 34.543c-13.602 10.75-23.716 28.783-30.34 54.097c-9.939 37.971-11.015 72.986-7.51 93.353c6.794 39.482 42.018 54.469 78.148 36.092c22.234-11.31 31.495-35.586 31.005-61.937c-.508-27.284-53.233-58.207-62.571-80.977c-6.225-15.18-9.136-28.723-8.732-40.628Z'
          clip-rule='evenodd'></path><path
          fill='url(#skillIconsElixirLight3)'
          fill-rule='evenodd'
          d='M155.811 105.732c16.313 20.922 19.869 35.486 10.668 43.692c-13.802 12.31-47.554 20.341-68.552 5.451c-13.998-9.927-19.295-31.223-15.89-63.887c-5.778 12.068-10.663 24.293-14.657 36.675c-3.993 12.382-5.159 25.339-3.498 38.872c5.005 10.124 17.172 16.885 36.502 20.285c28.994 5.098 56.437 2.579 74.852-6.704c12.276-6.188 18.083-12.349 17.419-18.481c.444-9.056-2.349-17.676-8.377-25.862c-6.028-8.185-15.517-18.199-28.467-30.041Z'
          clip-rule='evenodd'></path><path
          fill='url(#skillIconsElixirLight4)'
          fill-rule='evenodd'
          d='M92.06 84.84c-.136 15.11 3.749 29.474 11.655 43.091c11.86 20.427 25.704 40.61 46.42 57.341c13.811 11.153 24.846 14.757 33.106 10.81c-6.784 12.142-13.998 18.092-21.641 17.849c-11.465-.364-25.444-5.374-47.842-32.291c-14.933-17.944-25.148-34.918-30.646-50.922c.872-6.349 1.796-12.673 2.773-18.971c.978-6.299 3.036-15.268 6.175-26.907Z'
          clip-rule='evenodd'></path><path
          fill='url(#skillIconsElixirLight5)'
          fill-rule='evenodd'
          d='M127.098 105.576c1.267 12.309 6.057 31.999 0 45.108c-6.057 13.11-34.034 36.792-26.311 57.655c7.723 20.862 26.543 16.178 38.348 6.564c11.805-9.615 18.124-25.248 19.525-36.242c1.401-10.995-3.351-32.149-4.897-50.55c-1.03-12.267-.331-22.785 2.098-31.553l-3.618-4.553l-21.292-6.304c-3.414 5.044-4.698 11.67-3.853 19.875Z'
          clip-rule='evenodd'></path><path
          fill='url(#skillIconsElixirLight6)'
          fill-rule='evenodd'
          d='M134.698 44.61c-6.891 2.911-13.42 8.681-19.587 17.31c-9.251 12.941-13.963 20.699-10.475 46.353c2.325 17.103 3.989 32.837 4.992 47.202l29.822-86.646c-1.096-4.416-2.008-8.403-2.735-11.963c-.728-3.56-1.4-7.645-2.017-12.257Z'
          clip-rule='evenodd'></path><path
          fill='#330A4C'
          fill-opacity='.316'
          fill-rule='evenodd'
          d='M139.393 68.655c-7.57 4.419-13.436 13.472-17.598 27.159c-4.162 13.687-7.969 32.821-11.422 57.402c4.605-15.634 7.66-26.958 9.165-33.972c2.257-10.52 3.028-25.397 9.021-35.497c3.995-6.734 7.606-11.764 10.834-15.092Z'
          clip-rule='evenodd'></path><path
          fill='#fff'
          fill-rule='evenodd'
          d='M104.34 215.306c12.458 1.78 18.973 3.362 19.543 4.747c.856 2.078-1.577 3.978-8.492 2.701c-4.61-.851-8.294-3.334-11.051-7.448Z'
          clip-rule='evenodd'></path><path
          fill='#EDEDED'
          fill-opacity='.603'
          fill-rule='evenodd'
          d='M110.599 44.61c-6.852 8.186-12.79 16.864-17.813 26.035c-5.023 9.172-8.612 16.014-10.767 20.526c-.669 3.366-.995 8.333-.979 14.9c.016 6.567.584 13.869 1.704 21.905c.981-15.737 3.983-31.013 9.007-45.827c5.023-14.814 11.306-27.327 18.848-37.54Z'
          clip-rule='evenodd'></path><defs
          ><linearGradient
            id='skillIconsElixirLight0'
            x1='130.619'
            x2='123.681'
            y1='43.244'
            y2='227.849'
            gradientUnits='userSpaceOnUse'
            ><stop stop-color='#D9D8DC'></stop><stop offset='1' stop-color='#fff' stop-opacity='.385'
            ></stop></linearGradient
          ><linearGradient
            id='skillIconsElixirLight1'
            x1='133.755'
            x2='61.246'
            y1='43.198'
            y2='202.116'
            gradientUnits='userSpaceOnUse'
            ><stop stop-color='#8D67AF' stop-opacity='.672'></stop><stop offset='1' stop-color='#9F8DAF'
            ></stop></linearGradient
          ><linearGradient
            id='skillIconsElixirLight2'
            x1='141.849'
            x2='141.849'
            y1='94.687'
            y2='222.482'
            gradientUnits='userSpaceOnUse'
            ><stop stop-color='#26053D' stop-opacity='.762'></stop><stop
              offset='1'
              stop-color='#B7B4B4'
              stop-opacity='.278'></stop></linearGradient
          ><linearGradient
            id='skillIconsElixirLight3'
            x1='76.278'
            x2='108.812'
            y1='103.33'
            y2='189.51'
            gradientUnits='userSpaceOnUse'
            ><stop stop-color='#91739F' stop-opacity='.46'></stop><stop
              offset='1'
              stop-color='#32054F'
              stop-opacity='.54'></stop></linearGradient
          ><linearGradient
            id='skillIconsElixirLight4'
            x1='163.238'
            x2='73.773'
            y1='209.304'
            y2='135.173'
            gradientUnits='userSpaceOnUse'
            ><stop stop-color='#463D49' stop-opacity='.331'></stop><stop
              offset='1'
              stop-color='#340A50'
              stop-opacity='.821'></stop></linearGradient
          ><linearGradient
            id='skillIconsElixirLight5'
            x1='144.85'
            x2='81.751'
            y1='95.891'
            y2='191.882'
            gradientUnits='userSpaceOnUse'
            ><stop stop-color='#715383' stop-opacity='.145'></stop><stop
              offset='1'
              stop-color='#F4F4F4'
              stop-opacity='.234'></stop></linearGradient
          ><linearGradient
            id='skillIconsElixirLight6'
            x1='150.884'
            x2='106.199'
            y1='125.17'
            y2='122.442'
            gradientUnits='userSpaceOnUse'
            ><stop stop-color='#A5A1A8' stop-opacity='.356'></stop><stop
              offset='1'
              stop-color='#370C50'
              stop-opacity='.582'></stop></linearGradient
          ></defs
        ></g
      ></svg
    >

    <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 256 256'
      ><g fill='none'
        ><rect width='256' height='256' fill='#F4F2ED' rx='60'></rect><path
          fill='#00D8FF'
          d='M128.001 146.951c10.304 0 18.656-8.353 18.656-18.656c0-10.303-8.352-18.656-18.656-18.656c-10.303 0-18.656 8.353-18.656 18.656c0 10.303 8.353 18.656 18.656 18.656Z'
        ></path><path
          stroke='#00D8FF'
          stroke-width='8.911'
          d='M128.002 90.363c25.048 0 48.317 3.594 65.862 9.635C215.003 107.275 228 118.306 228 128.295c0 10.409-13.774 22.128-36.475 29.649c-17.162 5.686-39.746 8.654-63.523 8.654c-24.378 0-47.463-2.786-64.819-8.717C41.225 150.376 28 138.506 28 128.295c0-9.908 12.41-20.854 33.252-28.12c17.61-6.14 41.453-9.812 66.746-9.812h.004Z'
          clip-rule='evenodd'></path><path
          stroke='#00D8FF'
          stroke-width='8.911'
          d='M94.981 109.438c12.514-21.698 27.251-40.06 41.249-52.24c16.864-14.677 32.914-20.425 41.566-15.436c9.017 5.2 12.288 22.988 7.463 46.41c-3.645 17.707-12.359 38.753-24.238 59.351c-12.179 21.118-26.124 39.724-39.931 51.792c-17.471 15.272-34.362 20.799-43.207 15.698c-8.583-4.946-11.865-21.167-7.747-42.852c3.479-18.323 12.21-40.812 24.841-62.723h.004Z'
          clip-rule='evenodd'></path><path
          stroke='#00D8FF'
          stroke-width='8.911'
          d='M95.012 147.578c-12.549-21.674-21.093-43.616-24.659-61.826c-4.293-21.941-1.258-38.716 7.387-43.72c9.009-5.216 26.052.834 43.934 16.712c13.52 12.004 27.403 30.061 39.316 50.639c12.214 21.098 21.368 42.473 24.929 60.461c4.506 22.764.859 40.157-7.978 45.272c-8.574 4.964-24.265-.291-40.996-14.689c-14.136-12.164-29.26-30.959-41.933-52.849Z'
          clip-rule='evenodd'></path></g
      ></svg
    >
  </div>

  <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 256 256'
    ><g fill='none'
      ><rect width='256' height='256' fill='#F4F2ED' rx='60'></rect><g clip-path='url(#skillIconsPostgresqlLight0)'
        ><path
          fill='#000'
          d='M171.474 169.034c1.146-9.541.802-10.933 7.903-9.393l1.807.161c5.464.246 12.607-.879 16.875-2.826c9.036-4.191 14.393-11.194 5.485-9.352c-20.321 4.191-21.797-2.693-21.797-2.693c21.466-31.851 30.445-72.281 22.69-82.174c-21.122-27-57.692-14.231-58.303-13.894l-.197.035c-4.008-.843-8.438-1.336-13.571-1.406c-9.196-.14-16.171 2.412-21.473 6.427c0 0-65.229-26.874-62.199 33.799c.647 12.909 18.493 97.734 39.797 72.07c7.798-9.379 15.322-17.304 15.322-17.304c3.726 2.482 8.205 3.748 12.895 3.291l.365-.309a14.153 14.153 0 0 0 .148 3.642c-5.484 6.131-3.867 7.207-14.836 9.464c-11.095 2.285-4.57 6.356-.323 7.425c5.161 1.294 17.1 3.122 25.172-8.17l-.324 1.286c2.152 1.723 2.004 12.375 2.32 19.983c.317 7.608.816 14.717 2.37 18.9c1.554 4.184 3.375 14.977 17.789 11.953c12.045-2.58 21.256-6.3 22.099-40.851'
        ></path><path
          stroke='#000'
          stroke-width='15.11'
          d='M171.474 169.034c1.146-9.541.802-10.933 7.903-9.393l1.807.161c5.464.246 12.607-.879 16.875-2.826c9.036-4.191 14.393-11.194 5.485-9.352c-20.321 4.191-21.797-2.693-21.797-2.693c21.466-31.851 30.445-72.281 22.69-82.174c-21.122-27-57.692-14.231-58.303-13.894l-.197.035c-4.008-.843-8.438-1.336-13.571-1.406c-9.196-.14-16.171 2.412-21.473 6.427c0 0-65.229-26.874-62.199 33.799c.647 12.909 18.493 97.734 39.797 72.07c7.798-9.379 15.322-17.304 15.322-17.304c3.726 2.482 8.205 3.748 12.895 3.291l.365-.309a14.153 14.153 0 0 0 .148 3.642c-5.484 6.131-3.867 7.207-14.836 9.464c-11.095 2.285-4.57 6.356-.323 7.425c5.161 1.294 17.1 3.122 25.172-8.17l-.324 1.286c2.152 1.723 2.004 12.375 2.32 19.983c.317 7.608.816 14.717 2.37 18.9c1.554 4.184 3.375 14.977 17.789 11.953c12.045-2.58 21.256-6.3 22.099-40.851'
        ></path><path
          fill='#336791'
          d='M203.48 147.688c-20.32 4.19-21.796-2.693-21.796-2.693c21.466-31.852 30.445-72.282 22.696-82.175c-21.121-27-57.691-14.224-58.303-13.893l-.197.035a72.484 72.484 0 0 0-13.563-1.414c-9.197-.14-16.172 2.412-21.473 6.427c0 0-65.236-26.873-62.199 33.8c.647 12.909 18.492 97.734 39.797 72.07c7.847-9.436 15.371-17.361 15.371-17.361c3.726 2.482 8.205 3.748 12.895 3.291l.365-.309a14.243 14.243 0 0 0 .148 3.642c-5.484 6.131-3.867 7.207-14.836 9.464c-11.095 2.285-4.57 6.356-.323 7.425c5.161 1.294 17.1 3.122 25.172-8.17l-.324 1.286c2.152 1.723 3.656 11.201 3.403 19.793c-.253 8.593-.422 14.485 1.266 19.097c1.687 4.613 3.375 14.977 17.789 11.953c12.045-2.58 18.281-9.281 19.16-20.432c.619-7.932 2.011-6.765 2.11-13.852l1.125-3.361c1.286-10.758.21-14.224 7.628-12.607l1.807.162c5.464.246 12.615-.879 16.805-2.827c9.035-4.19 14.393-11.194 5.485-9.351h-.008Z'
        ></path><path
          stroke='#fff'
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='5.034'
          d='M146.07 48.596c-2.25.703 36.31-14.097 58.233 13.908c7.735 9.893-1.23 50.323-22.697 82.174m-53.508 9.106c-.562 20.011.141 40.162 2.096 45c1.954 4.837 6.152 14.414 20.573 11.334c12.045-2.58 16.432-7.58 18.331-18.612l4.45-35.275l-45.45-2.447ZM110.816 53.469S45.537 26.779 48.575 87.45c.647 12.909 18.492 97.734 39.797 72.07c7.776-9.373 14.808-16.706 14.808-16.706l7.636-89.346Z'
        ></path><path
          stroke='#fff'
          stroke-linecap='round'
          stroke-linejoin='bevel'
          stroke-width='5.034'
          d='M181.613 144.664s1.407 6.891 21.797 2.686c8.909-1.842 3.544 5.161-5.484 9.352c-7.411 3.445-24.033 4.324-24.307-.422c-.703-12.27 8.747-8.543 8.065-11.616c-.619-2.77-4.852-5.484-7.636-12.262c-2.44-5.907-33.469-51.258 8.606-44.53c1.547-.316-10.969-40.077-50.344-40.654c-39.375-.577-38.13 48.41-38.13 48.41'
        ></path><path
          stroke='#fff'
          stroke-linejoin='round'
          stroke-width='5.034'
          d='M117.08 148.869c-5.484 6.131-3.867 7.207-14.835 9.464c-11.096 2.285-4.57 6.356-.324 7.425c5.161 1.294 17.1 3.122 25.172-8.178c2.461-3.445-.014-8.929-3.389-10.321c-1.631-.675-3.811-1.519-6.609 1.617l-.015-.007Z'
        ></path><path
          stroke='#fff'
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='5.034'
          d='M116.722 148.763c-.563-3.607 1.181-7.889 3.044-12.909c2.799-7.523 9.254-15.047 4.093-38.932c-3.847-17.79-29.672-3.706-29.672-1.294s1.167 12.235-.422 23.66c-2.088 14.921 9.492 27.535 22.823 26.248'
        ></path><path
          fill='#fff'
          stroke='#fff'
          stroke-width='1.68'
          d='M110.577 95.27c-.12.822 1.511 3.023 3.628 3.318c2.116.296 3.923-1.42 4.043-2.25c.119-.83-1.512-1.73-3.628-2.025c-2.117-.295-3.938.14-4.043.956Z'
        ></path><path
          fill='#fff'
          stroke='#fff'
          stroke-width='.837'
          d='M175.011 93.59c.112.822-1.512 3.022-3.628 3.318c-2.117.295-3.938-1.42-4.043-2.25c-.106-.83 1.512-1.73 3.628-2.025c2.116-.295 3.937.14 4.043.956Z'
        ></path><path
          stroke='#fff'
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='5.034'
          d='M182.577 87.887c.351 6.469-1.393 10.863-1.618 17.747c-.323 9.998 4.768 21.445-2.904 32.906'></path></g
      ><defs><clipPath id='skillIconsPostgresqlLight0'><path fill='#fff' d='M38 38h180v180H38z'></path></clipPath></defs
      ></g
    ></svg
  >

  <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 256 256'
    ><g fill='none'
      ><rect width='256' height='256' fill='#092E20' rx='60'></rect><path
        fill='#fff'
        d='M112.689 51h28.615v132.45c-14.679 2.787-25.456 3.902-37.161 3.902C69.209 187.351 51 171.559 51 141.271c0-29.173 19.325-48.124 49.24-48.124c4.645 0 8.175.37 12.449 1.485V51Zm0 66.671c-3.344-1.113-6.131-1.485-9.661-1.485c-14.493 0-22.856 8.919-22.856 24.526c0 15.238 7.991 23.599 22.67 23.599c3.157 0 5.76-.186 9.847-.742v-45.898Z'
      ></path><path
        fill='#fff'
        d='M186.826 95.19v66.332c0 22.856-1.672 33.818-6.689 43.295c-4.646 9.106-10.778 14.865-23.413 21.183l-26.571-12.636c12.635-5.945 18.767-11.146 22.668-19.139c4.089-8.175 5.391-17.652 5.391-42.55V95.189h28.614Zm-28.614-44.038h28.614V80.51h-28.614V51.152Z'
      ></path></g
    ></svg
  >

  <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 256 256'
    ><g fill='none'
      ><rect width='256' height='256' fill='#2396ED' rx='60'></rect><path
        fill='#fff'
        d='M141.187 122.123h20.717v-18.744h-20.717v18.744Zm-24.662 0h20.716v-18.744h-20.716v18.744Zm-24.17 0h20.717v-18.744H92.355v18.744Zm-24.17 0H88.41v-18.744H68.186v18.744Zm-24.662 0H64.24v-18.744H43.523v18.744Zm24.663-22.69h20.223V80.69H68.186v18.743Zm24.17 0h20.716V80.69H92.355v18.743Zm24.169 0h20.716V80.69h-20.716v18.743Zm0-22.69h20.716V58h-20.716v18.744ZM228 113.739s-8.879-8.386-27.129-5.426c-1.973-14.305-17.264-22.69-17.264-22.69s-14.304 17.264-3.946 36.501c-2.959 1.48-7.892 3.453-15.291 3.453H28.726c-2.467 9.372-2.467 71.521 65.602 71.521c48.832 0 85.333-22.689 102.597-64.123C222.574 134.948 228 113.738 228 113.738Z'
      ></path></g
    ></svg
  >

  <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 256 256'
    ><g fill='none'
      ><rect width='256' height='256' fill='url(#skillIconsApollo0)' rx='60'></rect><path
        fill='#fff'
        d='m140.279 73.046l-26.661-.047l-36.942 97.887l24.114.042l6.029-16.586l36.375.062l-6.877-18.366l-23.946-.042l14.909-42.121l28.934 77.148l24.115.042l-40.05-98.02Z'
      ></path><path
        fill='#fff'
        d='M233.142 99.124a5.325 5.325 0 0 0-.297-.968a2.277 2.277 0 0 0-.137-.308a5.554 5.554 0 0 0-2.061-2.291a5.65 5.65 0 0 0-2.979-.86a5.459 5.459 0 0 0-3.863 1.573a5.244 5.244 0 0 0-1.228 5.538l-.016.006a96.336 96.336 0 0 1 4.098 26.369c.411 25.919-9.499 50.271-27.9 68.567c-18.404 18.297-43.1 28.346-69.538 28.301c-26.436-.046-51.454-10.183-70.437-28.543c-18.987-18.361-29.667-42.748-30.078-68.667c-.41-25.92 9.5-50.271 27.903-68.567c18.402-18.297 43.1-28.346 69.536-28.3c23.607.04 46.076 8.133 64.133 22.939a12.816 12.816 0 0 0-.856 4.822c.115 7.279 6.226 13.187 13.652 13.2c7.423.013 13.349-5.875 13.233-13.154c-.115-7.279-6.228-13.19-13.651-13.203a13.542 13.542 0 0 0-4.597.787C178.55 30.1 153.358 20.238 125.974 20.19C65.237 20.085 16.765 68.273 17.709 127.822c.944 59.548 50.945 107.907 111.683 108.012c60.738.105 109.209-48.082 108.266-107.632a106.76 106.76 0 0 0-4.516-29.078Z'
      ></path><defs
        ><linearGradient id='skillIconsApollo0' x1='0' x2='256' y1='0' y2='256' gradientUnits='userSpaceOnUse'
          ><stop stop-color='#4010AC'></stop><stop offset='1' stop-color='#D540A8'></stop></linearGradient
        ></defs
      ></g
    ></svg
  >

  <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 256 256'
    ><g fill='none'
      ><rect width='256' height='256' fill='#242938' rx='60'></rect><path
        fill='#fff'
        d='M121.451 28.054c-.43.039-1.799.176-3.031.273c-28.406 2.561-55.014 17.889-71.867 41.447C37.17 82.873 31.167 97.731 28.9 113.47c-.801 5.494-.899 7.117-.899 14.565c0 7.449.098 9.072.9 14.565c5.434 37.556 32.16 69.111 68.406 80.802c6.491 2.092 13.333 3.519 21.114 4.379c3.031.332 16.129.332 19.16 0c13.431-1.486 24.809-4.809 36.031-10.538c1.72-.879 2.053-1.114 1.818-1.309c-.156-.118-7.488-9.952-16.285-21.838l-15.992-21.603l-20.04-29.658c-11.026-16.305-20.097-29.639-20.176-29.639c-.078-.019-.156 13.158-.195 29.248c-.059 28.172-.078 29.306-.43 29.97c-.508.958-.899 1.349-1.721 1.78c-.625.312-1.173.371-4.125.371h-3.382l-.9-.567a3.652 3.652 0 0 1-1.31-1.427l-.41-.88l.04-39.198l.058-39.218l.606-.763c.313-.41.978-.938 1.447-1.192c.801-.391 1.114-.43 4.496-.43c3.989 0 4.653.156 5.69 1.29c.293.313 11.143 16.657 24.125 36.344a89121.985 89121.985 0 0 0 39.452 59.765l15.836 23.989l.802-.528c7.096-4.614 14.604-11.183 20.547-18.026c12.649-14.526 20.802-32.238 23.539-51.124c.801-5.493.899-7.116.899-14.565c0-7.448-.098-9.071-.899-14.565c-5.435-37.556-32.161-69.11-68.407-80.801c-6.393-2.073-13.196-3.5-20.821-4.36c-1.877-.196-14.8-.41-16.422-.254Zm40.938 60.489c.938.469 1.701 1.368 1.975 2.306c.156.509.195 11.379.156 35.875l-.059 35.152l-6.197-9.502l-6.217-9.501v-25.552c0-16.52.078-25.807.195-26.257c.313-1.094.997-1.954 1.936-2.463c.801-.41 1.095-.45 4.164-.45c2.894 0 3.402.04 4.047.392Z'
      ></path></g
    ></svg
  >

  <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 256 256'
    ><g fill='none'
      ><rect width='256' height='256' fill='#F4F2ED' rx='60'></rect><path
        fill='url(#skillIconsTailwindcssLight0)'
        fill-rule='evenodd'
        d='M83 110c6-24 21.001-36 45-36c36 0 40.5 27 58.5 31.5c12.001 3.001 22.5-1.499 31.5-13.5c-5.999 23.999-21.001 36-45 36c-36 0-40.5-27-58.5-31.5C102.499 93.5 92 98 83 110Zm-45 54c6-23.999 21-36 45-36c36 0 40.5 27 58.5 31.5c12.001 3.001 22.5-1.499 31.5-13.5c-5.999 23.999-21.001 36-45 36c-36 0-40.5-27-58.5-31.5c-12-3.001-22.5 1.499-31.5 13.5Z'
        clip-rule='evenodd'></path><defs
        ><linearGradient
          id='skillIconsTailwindcssLight0'
          x1='86.5'
          x2='163.5'
          y1='74'
          y2='185.5'
          gradientUnits='userSpaceOnUse'
          ><stop stop-color='#32B1C1'></stop><stop offset='1' stop-color='#14C6B7'></stop></linearGradient
        ></defs
      ></g
    ></svg
  >

  <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 256 256'
    ><g fill='none'
      ><rect width='256' height='256' fill='#F4F4ED' rx='60'></rect><path
        stroke='#2088FF'
        stroke-linecap='round'
        stroke-linejoin='round'
        stroke-width='7.348'
        d='M76.065 43c18.262 0 33.065 14.803 33.065 33.065c0 18.262-14.803 33.065-33.065 33.065C57.803 109.13 43 94.327 43 76.065C43 57.803 57.803 43 76.065 43Zm47.761 66.13c12.174 0 22.044 9.87 22.044 22.044c0 12.174-9.87 22.043-22.044 22.043c-12.174 0-22.043-9.869-22.043-22.043s9.869-22.044 22.043-22.044Zm0 58.783c12.174 0 22.044 9.869 22.044 22.044c0 12.174-9.87 22.043-22.044 22.043c-12.174 0-22.043-9.869-22.043-22.043c0-12.175 9.869-22.044 22.043-22.044Z'
        clip-rule='evenodd'></path><path
        stroke='#79B8FF'
        stroke-linecap='round'
        stroke-linejoin='round'
        stroke-width='7.348'
        d='M189.957 167.913c12.174 0 22.043 9.869 22.043 22.044c0 12.174-9.869 22.043-22.043 22.043c-12.175 0-22.044-9.869-22.044-22.043c0-12.175 9.869-22.044 22.044-22.044Z'
        clip-rule='evenodd'></path><path
        stroke='#2088FF'
        stroke-linecap='round'
        stroke-linejoin='round'
        stroke-width='7.348'
        d='m131.308 126.056l-11.276 11.261l-5.477-5.458'></path><path
        stroke='#2088FF'
        stroke-linecap='round'
        stroke-linejoin='round'
        stroke-width='7.348'
        d='M189.957 109.13c12.174 0 22.043 9.87 22.043 22.044c0 12.174-9.869 22.043-22.043 22.043c-12.175 0-22.044-9.869-22.044-22.043s9.869-22.044 22.044-22.044Z'
        clip-rule='evenodd'></path><path
        stroke='#2088FF'
        stroke-linecap='round'
        stroke-linejoin='round'
        stroke-width='7.348'
        d='m197.438 126.056l-11.276 11.261l-5.476-5.458M65.043 64.353c0-2.891 3.186-4.65 5.633-3.108L89.46 73.078c2.297 1.447 2.285 4.8-.022 6.231L70.653 90.957c-2.447 1.518-5.61-.242-5.61-3.122V64.353Zm7.348 44.777v55.109c0 14.203 11.673 25.717 25.718 25.717h3.673'
      ></path><path
        fill='#2088FF'
        d='M101.595 134.847a3.673 3.673 0 1 0 0-7.347v7.347Zm-32.878-25.588c0 14.132 11.457 25.588 25.588 25.588V127.5c-10.074 0-18.24-8.167-18.24-18.241h-7.348Zm25.588 25.588h7.29V127.5h-7.29v7.347Z'
      ></path><path
        stroke='#2088FF'
        stroke-linecap='round'
        stroke-linejoin='round'
        stroke-width='7.348'
        d='M146.071 131.174h21.84'></path><path
        fill='#79B8FF'
        fill-rule='evenodd'
        d='M116.478 186.283a3.675 3.675 0 1 1-3.674 3.674a3.676 3.676 0 0 1 3.674-3.674Zm14.696 0a3.675 3.675 0 1 1-3.674 3.674a3.676 3.676 0 0 1 3.674-3.674Z'
        clip-rule='evenodd'></path><path
        stroke='#79B8FF'
        stroke-linecap='round'
        stroke-width='7.348'
        d='m164.257 189.981l-3.72.122'></path></g
    ></svg
  >

  <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 256 256'
    ><g fill='none'
      ><rect width='256' height='256' fill='#F4F2ED' rx='60'></rect><path
        fill='url(#skillIconsPythonLight0)'
        d='M127.279 29c-50.772 0-47.602 22.018-47.602 22.018l.057 22.81h48.451v6.85H60.489S28 76.992 28 128.221c0 51.23 28.357 49.414 28.357 49.414h16.924v-23.773s-.912-28.357 27.905-28.357h48.054s26.999.436 26.999-26.094V55.546S180.338 29 127.279 29Zm-26.716 15.339a8.708 8.708 0 0 1 8.717 8.717a8.708 8.708 0 0 1-8.717 8.716a8.708 8.708 0 0 1-8.716-8.716a8.708 8.708 0 0 1 8.716-8.717Z'
      ></path><path
        fill='url(#skillIconsPythonLight1)'
        d='M128.721 227.958c50.772 0 47.602-22.017 47.602-22.017l-.057-22.811h-48.451v-6.849h67.696S228 179.966 228 128.736c0-51.23-28.357-49.413-28.357-49.413h-16.924v23.773s.912 28.357-27.905 28.357H106.76s-27-.437-27 26.093v43.866s-4.099 26.546 48.961 26.546Zm26.716-15.339a8.708 8.708 0 0 1-8.717-8.716a8.708 8.708 0 0 1 8.717-8.717a8.709 8.709 0 0 1 8.717 8.717a8.709 8.709 0 0 1-8.717 8.716Z'
      ></path><defs
        ><linearGradient
          id='skillIconsPythonLight0'
          x1='47.22'
          x2='146.333'
          y1='46.896'
          y2='145.02'
          gradientUnits='userSpaceOnUse'
          ><stop stop-color='#387EB8'></stop><stop offset='1' stop-color='#366994'></stop></linearGradient
        ><linearGradient
          id='skillIconsPythonLight1'
          x1='108.056'
          x2='214.492'
          y1='109.905'
          y2='210.522'
          gradientUnits='userSpaceOnUse'
          ><stop stop-color='#FFE052'></stop><stop offset='1' stop-color='#FFC331'></stop></linearGradient
        ></defs
      ></g
    ></svg
  >
</div>
