---
import { CollectionEntry, getCollection } from 'astro:content'
import MarkdownPostLayout from '../../layouts/MarkdownPostLayout.astro'

export async function getStaticPaths() {
  const posts = await getCollection('book-notes')
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }))
}
type Props = CollectionEntry<'book-notes'>

const post = Astro.props
const { Content } = await post.render()
---

<MarkdownPostLayout {...post.data}>
  <h1>{post.data.title}</h1>
  <Content />
</MarkdownPostLayout>
