---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

const posts = (await getCollection('book-notes')).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
---

<BaseLayout pageTitle="Book Notes">
  <h1>Book Notes</h1>

  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <time datetime={post.data.pubDate.toISOString()}>
              {post.data.pubDate.toLocaleDateString('en-us', {
                year: 'numeric',
                month: 'short',
                day: 'numeric',
              })}
            </time>
            <a href={`/book-notes/${post.slug}/`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
