---
import { SITE } from '@config'
import Layout from '@layouts/Layout.astro'
import Main from '@layouts/Main.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import Card from '@components/CardProject.svelte'
import LinkButton from '@components/LinkButton.astro'
import slugify from '@utils/slugify'
import type { CollectionEntry } from 'astro:content'

export interface Props {
  posts: CollectionEntry<'projects'>[]
}

const { posts } = Astro.props
---

<Layout title={`Projects | ${SITE.title}`}>
  <Header activeNav='Projects' />
  <Main pageTitle='Projects' pageDesc="All the projects I've created.">
    <ul>
      {
        posts.map(({ data }) => (
          <Card href={`/posts/${slugify(data)}`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Footer />
</Layout>

<style></style>
