---
import type { CollectionEntry } from "astro:content";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Project from "@components/Project.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { getLangFromUrl, useTranslations } from "i18n/utils";

export interface Props {
	posts: CollectionEntry<"projects">[];
}

const { posts } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={`${t('projects.title')} | ${SITE.title}`}>
  <Header activeNav='projects' />
  <Main pageTitle={t('projects.title')} pageDesc={t('projects.desc') + '.'}>
    <ul>
      {posts.map(({ data }) => <Project frontmatter={data} />)}
    </ul>
  </Main>
  <Footer />
</Layout>

<style></style>
